# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Venv
.venv/
env/
venv/

# Node (si un jour)
node_modules/

# VCS
.git/
.gitignore

# IDE
.vscode/
.idea/

# Local files
*.sqlite3
media/
staticfiles/


# Docker build cache
.cache/
