{% load static %}
<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% block title %}ANNOOR — Ingénierie & Industriel{% endblock %}</title>
<meta name="description" content="Solutions industrielles, bâtiments et TP au Niger." />
<script src="https://cdn.tailwindcss.com"></script>
<link rel="icon" href="{% static 'img/favicon.png' %}" />
{% block extra_head %}{% endblock %}
</head>
<body class="text-slate-800">
{% include 'partials/_header.html' %}
<main>{% block content %}{% endblock %}</main>
{% include 'partials/_footer.html' %}
</body>
</html>